.levelOneExplanation {
    background-image: url(../assets/imgs/levelOneExplanationBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}