.levelMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/imgs/levelMapBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.levelMapTop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.settingsBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: left;
    position: absolute;
    left: 0; 
}

.levelMap h2 {
    align-self: center;
    color: var(--primary_bg);
    font-size: 56px;
    font-weight: 400;
    font-family: "CattleTrail";
}

.levels {
    display: flex;
    align-items: center;
    gap: 220px;
}

.openLevel {
    position: relative;
    background-image: url(../assets/imgs/levelBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 320px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary_bg);
    transition: all 300ms ease;
}

.openLevel h4 {
    font-family: "CattleTrail";
    font-size: 50px;
    font-weight: 400;
}

.openLevel:hover {
    background-image: url(../assets/imgs/levelBgHover.png);
    color: var(--primary_text);
    scale: 1.1;
}

.lockedLevel {
    position: relative;
    background-image: url(../assets/imgs/lockedLevelBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    min-height: 280px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary_bg);
    transition: all 300ms ease;
    padding-bottom: 14px;
}

.levelCheckmark {
    position: absolute;
    right: 0;
    top: 60px;
}