.l2SuccessCard2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 8rem 6rem;
    background-image: url(../assets/imgs/successOverlay.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 650px;
    text-align: center;
}