.splashBtn {
    width: 240px;
    height: 80px;
    font-size: 34px;
    background-image: url(../../assets/imgs/buttonBg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--primary_text);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "CattleTrail";
    transition: all 200ms ease;
}

.splashBtn:hover {
    background-image: url(../../assets/imgs/buttonHover.svg);
    color: var(--primary_bg);
}

.pauseBtn {
    width: 200px;
    height: 80px;
    font-size: 28px;
    background-image: url(../../assets/imgs/buttonBg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--primary_text);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "CattleTrail";
    transition: all 200ms ease;
}

.btnGlow {
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        filter: drop-shadow(0 0 2px #EDEBE6);
    }

    50% {
        transform: scale(1.03);
        filter: drop-shadow(0 0 4px #EDEBE6);
    }
}

.pauseBtn:hover {
    background-image: url(../../assets/imgs/buttonHover.svg);
    color: var(--primary_bg);
}