:root {
    --primary_bg: #0B0B0C;
    --secondary_bg: #1F1F22;
    --primary_text: #EDEBE6;
    --secondary_text: #A6A6A6;
    --active: #B11226;
    --hover: #6E0E18;
    --glow: #D94B5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CattleTrail";
    src: url(../src/assets/fonts/CattleTrailJNL.otf);
}

@font-face {
    font-family: "SpecialElite";
    src: url(../src/assets/fonts/SpecialElite.ttf);
}

.link {
    text-decoration: none;
}